.header{
    height: 80px;
    background-color:#1C2B35;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 112px;
    padding-right: 112px;
}
.header a{
    color: white;
    text-decoration: none;
    margin-left: 32px;
    font-size: 17px;

}
.header a:hover{
    color: orange;
}